.home-container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  aspect-ratio: 4/7;
  /* min-height: calc(100vh - 70px); */
  padding: 50px 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  opacity: 0;
}
.img-1 {
  animation: fade-out 30s ease-in-out infinite;
}
@keyframes fade-out {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
.img-2 {
  animation: fade-out2 30s ease-in-out infinite;
}
@keyframes fade-out2 {
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}
.img-3 {
  animation: fade-out3 30s ease-in-out infinite;
}
@keyframes fade-out3 {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
.img-4 {
  animation: fade-out4 30s ease-in-out infinite;
}
@keyframes fade-out4 {
  55% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
.img-5 {
  animation: fade-out5 30s ease-in-out infinite;
}
@keyframes fade-out5 {
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

.about-container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 70px);
  padding: 50px 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
